apiVersion: v1
kind: Secret
metadata:
  name: ecom-secrets
type: Opaque
stringData:
  DB_HOST: postgres
  DB_PORT: "5432"
  DB_USER: postgres
  DB_PASSWORD: postgres
  DB_NAME: primetrade
  JWT_SECRET: somereallylongrandomstring
  REDIS_HOST: redis
  REDIS_PORT: "6379"
  AWS_ENDPOINT: http://minio:9000
  AWS_ACCESS_KEY: minioadmin
  AWS_SECRET_KEY: minioadmin
  AWS_BUCKET: products
  AWS_REGION: us-east-1
  EMAIL_USER:
  EMAIL_PASS:
  RAZORPAY_KEY_ID: rzp_test_Sa2qs1cIHxZ7vc
  RAZORPAY_KEY_SECRET: RIBzDVSuqLEW7BkvrNj3N6vu
